@using Project.ViewModels.Products
@model ProductViewModel

@{
	ViewData["Title"] = Model.Title;
	ViewData["Image"] = ViewBag.Image;
	ViewData["Description"] = Model.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Css {
	<link href="~/css/detail.css" rel="stylesheet" />
 
}
@section Scripts {
 <script src="~/js/detail.js"></script>

    <script src="/js/active.js"></script>



}

<section id="product" class="clearfix mt-[150px] ">
	<div class="container">
		 <div class="grid grid-cols-3 max-sm:grid-cols-1 md:grid-cols-5 lg:grid-cols-5 gap-8">
			<div id="surround" class="col-span-2 max-sm:col-span-1 ">
				  <div class="swiper mySwiper">
				<div class="swiper-wrapper">
			   @foreach (var image in Model.Images)
										{
											string imageUrl = ViewBag.DomainApi + image.ImagePath;
											<div class="swiper-slide"><img class="zoom" src="@imageUrl" alt="@Model.Title"></div>
										}
				</div>
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-pagination"></div>
			  </div>



			</div>
			<div class="col-span-2 max-sm:col-span-1">
				<div class="product-border">
					<div class="product-title">
						<h1>@Model.Title</h1>
					</div>
					<div class="clearfix product-sku-date">
						<span class="pull-left product-sku" id="pro_sku1">SKU: @Model.Code</span>
					</div>
				  @if (Model.Discount > 0)
					{
						<div class="item-price text-primary d-flex">
						@{
							var lastPrice = Model.SellingPrice - ((float)Model.Discount / 100) * Model.SellingPrice;
						}
						<del  class="product-price del">@Model.SellingPrice</del>
							<p class=" product-price   mt-3" >@lastPrice</p>
					</div>
					}

					@if (Model.Discount ==0)
					{
						<div class="product-price" id="price-preview1">@Model.SellingPrice</div>

					}
				</div>



				<div id="add-item-form" method="post" class="variants clearfix variant-style">
					<div class="select clearfix">
						@{int checkSizes = Model.ProductAttributes.Count();}
						@if (checkSizes > 0)
						{
							<div class="selector-wrapper opt1">

								<label>SIZE</label>
								<ul class="data-opt1 clearfix style-variant-template">
									@{
										int countSize = 0;
									}
									@foreach (var pa in Model.ProductAttributes)
									{
										if (pa.Type == Project.Enums.AttributeEnum.Size ){
											if (countSize == 0)
											{
												<li ><label><input data-id="@pa.AttributeId" type="radio" checked="checked" value="@pa.AttributeId" name="option1"><span>@pa.Name @pa.Description</span></label></li>

											}
											else
											{
											<li><label><input  type="radio"  data-id="@pa.AttributeId" value="@pa.AttributeId" name="option1"><span>@pa.Name @pa.Description</span></label></li>
											
											}
											countSize++;

										}
									}
									
								</ul>
							</div>
						}
@* 

						<div class="selector-wrapper opt2">
							<label>ĐẶC ĐIỂM</label>
							<ul class="data-opt2 clearfix style-variant-template">

								<li class=" 10-mm 12-mm" style="display: list-item;"><label><input checked="checked" type="radio" value="mài sần" name="option2"><span>mài sần</span></label></li>
							</ul>
						</div> *@


						
					</div>
					<div class="select-wrapper clearfix ">
						<p>Số lượng</p>
						<div class="input-group d-flex">
							<div class="input-group d-flex">
						<button id="decrease" class="btn">-</button>
						<input type="text" id="quantity" name="quantity" value="1" min="1" class="quantity-selector">
						<button id="increase"  class="btn">+</button>
					</div>
						</div>
					</div>
					<div class="clearfix">
						<button class="btn-style-add add-to-cart btn" data-id="@Model.Id" data-name="@Model.Title" >
							<span ><i class="fa fa-shopping-cart"></i></span>
							<span>Thêm vào giỏ</span>
						</button>
						<button class="btn-style-buynow addnow btn" data-id="@Model.Id">

							<span>Mua ngay</span>
						</button>
					</div>
				</div>


				<div class="product-border clearfix">

				


					<div class="tag-wrapper">
						<label>
							Tags:
						</label>
						<ul class="tags">

								@foreach (var pa in Model.ProductAttributes)
									{
											if (pa.Type == Project.Enums.AttributeEnum.Tag ){
							<li class="">
								<a href="/san-pham/tat-ca">@pa.Name</a>
							</li>
											}

									}

							


						</ul>
					</div>

				</div>
			</div>
			<div class="">
				<div class="box-service-product">
					<div class="header-box-service-product text-center">
						<div class="title">Sẽ có tại nhà bạn</div>
						<div class="content">từ 1-7 ngày làm việc</div>
					</div>
					<div class="content-box-service-product row">

						<div class="col-lg-12 col-sm-3 col-xs-12">
							<div class="border-service-product">
								<div class="flexbox-grid-default">
									<div class="flexbox-auto-45px flexbox-align-self-center">
										<img src="//theme.hstatic.net/1000089151/1000738647/14/icon-service-1.png?v=243">
									</div>
									<div class="flexbox-content des-service-product">
										<div class="title">Giao hàng miễn phí</div>
										<div class="content">sản phẩm trên 2,000,000đ</div>
									</div>
								</div>
							</div>
						</div>


						<div class="col-lg-12 col-sm-3 col-xs-12">
							<div class="border-service-product">
								<div class="flexbox-grid-default">
									<div class="flexbox-auto-45px flexbox-align-self-center">
										<img src="//theme.hstatic.net/1000089151/1000738647/14/icon-service-2.png?v=243">
									</div>
									<div class="flexbox-content des-service-product">
										<div class="title">Tư vấn phong thủy miễn phí</div>
										<div class="content">Các sản phẩm phong thủy đều được đội ngũ tư vấn viên hiểu biết về phong thủy tư vấn</div>
									</div>
								</div>
							</div>
						</div>


						<div class="col-lg-12 col-sm-3 col-xs-12">
							<div class="border-service-product">
								<div class="flexbox-grid-default">
									<div class="flexbox-auto-45px flexbox-align-self-center">
										<img src="//theme.hstatic.net/1000089151/1000738647/14/icon-service-3.png?v=243">
									</div>
									<div class="flexbox-content des-service-product">
										<div class="title">Thanh toán</div>
										<div class="content">Thanh toán khi nhận hàng (Áp dụng nội thành Hà Nội)</div>
									</div>
								</div>
							</div>
						</div>


						<div class="col-lg-12 col-sm-3 col-xs-12">
							<div class="border-service-product">
								<div class="flexbox-grid-default">
									<div class="flexbox-auto-45px flexbox-align-self-center">
										<img src="//theme.hstatic.net/1000089151/1000738647/14/icon-service-4.png?v=243">
									</div>
									<div class="flexbox-content des-service-product">
										<div class="title">Hỗ trợ online</div>
										<div class="content">093 608 3333</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		  <div>
			  <h3>Mô tả sản phẩm</h3>
			  <p>@Html.Raw(Model.Content)</p>
		  </div>

	</div>
</section>
