
@using Project.ViewModels.Products
@model Project.ViewModels.PagedResult<ProductViewModel>

@{
    ViewData["Title"] = "Sản phẩm - Chuyên Gia Về Ngọc";
    ViewData["Image"] = ViewBag.Image;
    ViewData["Description"] = "Ngọc Quách Gia - Chuyên Gia Về Ngọc";
}
<section class="site-banner jarallax min-height300 padding-large" style="background: url(/images/hero-image.jpg) no-repeat; background-position: top;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-title">Sản phẩm</h1>
                <div class="breadcrumbs">
                    <span class="item">
                        <a href="/">Trang chủ/</a>
                    </span>
                    <span class="item">Tất cả</span>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="shopify-grid padding-large">
    <div class="container">
        <div class="row">

            <section id="selling-products" class="col-md-9 product-store">
                <div class="container">
                    <div class="tab-content">
                        
                            <div class="row d-flex flex-wrap">
                            @foreach (var product in Model.Items)
                            {
                                <div class="product-item col-lg-3 col-md-6 col-sm-6">
                                    <div class="image-holder">
                                        @if (product.Images.Count() > 0)
                                        {
                                            @foreach (var image in product.Images)
                                            {
                                                string imageUrl = ViewBag.DomainApi + image.ImagePath;
                                                <img src="@imageUrl" alt="@product.Title" class="product-image">

                                            }
                                        }
                                        @if (product.Images.Count() == 0)
                                        {
                                            <img src="/images//default-thumbnail-400.jpg" alt="@product.Title" class="product-image">
                                        }

                                    </div>
                                    @if (product.Discount > 0)
                                    {
                                        <div class="discount">@product.Discount% </div>

                                    }
                                    <div class="product-detail">
                                        <h3 class="product-title">
                                            <a href="/san-pham/chi-tiet/@product.Id">@product.Title</a>
                                        </h3>
                                        @if (product.Discount > 0)
                                        {
                                            <div class="item-price text-primary">
                                                @{
                                                    var lastPrice = product.SellingPrice - ((float)product.Discount / 100) * product.SellingPrice;
                                                }
                                                <del class="prev-price money">@product.SellingPrice</del><span class="money">@lastPrice</span>
                                            </div>
                                        }
                                        else
                                        {

                                            <span class="money">@product.SellingPrice</span>
                                        }

                                    </div>
                                </div>
                        }
                        </div>
                 
                    </div>
                    <form method="get" asp-route-slug="@ViewContext.RouteData.Values["slug"]">
                    <nav class="navigation paging-navigation text-center padding-medium" role="navigation">
                        <div class="pagination loop-pagination d-flex justify-content-center">
                                @{


                                    int startPage = Math.Max(1, (int)ViewBag.CurrentPage - 1);
                                    int endPage = Math.Min((int)ViewBag.TotalPages, startPage + 2);

                                    // Nếu endPage gần cuối thì lùi startPage lại để luôn hiển thị 3 trang (nếu có)
                                    if (endPage - startPage < 2 && startPage > 1)
                                    {
                                        startPage = Math.Max(1, endPage - 2);
                                    }
                                }

                           @if ((int)ViewBag.CurrentPage > 1)
                                {
                                    <a asp-route-page="@(ViewBag.CurrentPage - 1)"
                                          asp-route-size="@ViewBag.PageSize"
                                       asp-route-posttype="@ViewBag.PostType"
                                       asp-route-from="@ViewBag.PrinceFrom"
                                       asp-route-to="@ViewBag.PrinceTo"
                                       asp-route-search="@(ViewBag.Search)"
                                          asp-route-slug="@ViewBag.Slug"  class="pagination-arrow d-flex align-items-center">
                                <i class="icon icon-arrow-left"></i>
                                    </a>
                                }
                                @for (int i = startPage; i <= endPage; i++)
                                {
                                    if (i == (int)ViewBag.CurrentPage)
                                    {
                                        <strong class="page-numbers current">@i</strong>
                                    }
                                    else
                                    {
                                        <a asp-route-page="@i" class="page-numbers"
                                           asp-route-size="@ViewBag.PageSize"
                                           asp-route-from="@ViewBag.PrinceFrom"
                                           asp-route-to="@ViewBag.PrinceTo"
                                           asp-route-search="@(ViewBag.Search)"
                                           asp-route-posttype="@ViewBag.PostType"
                                           asp-route-slug="@ViewBag.Slug">@i</a>
                                    }
                                }
                             @if ((int)ViewBag.CurrentPage < (int)ViewBag.TotalPages)
                                {
                                    <a asp-route-page="@(ViewBag.CurrentPage + 1)"
                                    asp-route-size="@ViewBag.PageSize"
                                       asp-route-search="@(ViewBag.Search)"
                                       asp-route-from="@ViewBag.PrinceFrom"
                                       asp-route-to="@ViewBag.PrinceTo"
                                       asp-route-posttype="@ViewBag.PostType"
                                   asp-route-slug="@ViewBag.Slug" class="pagination-arrow d-flex align-items-center">
                                <i class="icon icon-arrow-right"></i>
                            </a>}
                        </div>
                    </nav>
                    </form>
                </div>
            </section>

            <div class="col-md-3">
                <div class="sidebar">
                    <div class="widgets widget-menu">
                        <div class="widget-search-bar">
                            <form method="get" asp-route-slug="@ViewContext.RouteData.Values["slug"]" class="d-flex">
                                <input class="search-field" name="search" placeholder="Tìm kiếm" type="text"
                                       value="@ViewBag.Search">
                                <button class="btn btn-dark"><i class="icon icon-search"></i></button>

                              
                            </form>
                             <form method="get" asp-route-slug="@ViewContext.RouteData.Values["slug"]" class="d-flex">
                                @* Nút "Hủy tìm kiếm" chỉ hiển thị khi có từ khóa *@
                                <a asp-action="Index" asp-controller="Product" class="btn btn-outline-secondary" style="background:red">
                                    Hủy tìm
                                </a>
                             </form>
                             </div>
                    </div>
                    <div class="widgets widget-product-tags">
                        <h5 class="widget-title">Danh mục</h5>
                        <ul class="product-tags sidebar-list list-unstyled">
                            @foreach (var c in @ViewBag.PostTypes)
                            {
                                <li class="tags-item">
                                    <a asp-route-search="@(ViewBag.Search)"
                                    asp-route-page="@(ViewBag.CurrentPage)"
                                    asp-route-size="@ViewBag.PageSize"
                                       asp-route-from="@ViewBag.PrinceFrom"
                                       asp-route-to="@ViewBag.PrinceTo"
                                       asp-route-posttype="@c.Id"
                                   asp-route-slug="@ViewBag.Slug"
                                    >@c.Name</a>
                                </li>
                            }
                          
                           
                        </ul>
                    </div>
                    @* <div class="widgets widget-product-brands">
                        <h5 class="widget-title">Brands</h5>
                        <ul class="product-tags sidebar-list list-unstyled">
                            <li class="tags-item">
                                <a href="">Nike</a>
                            </li>
                            <li class="tags-item">
                                <a href="">Adidas</a>
                            </li>
                            <li class="tags-item">
                                <a href="">Puma</a>
                            </li>
                            <li class="tags-item">
                                <a href="">Spike</a>
                            </li>
                        </ul>
                    </div> *@
                    <div class="widgets widget-price-filter">
                        <h5 class="widget-title">Tìm kiếm theo giá</h5>
                           </div>
                    <form method="get" asp-route-slug="@ViewContext.RouteData.Values["slug"]">
                        <ul class="product-tags sidebar-list list-unstyled">
                            <li class="tags-item">
                                 <a asp-route-page="@(ViewBag.CurrentPage)"
                                   asp-route-to="1000000"
                                   asp-route-search="@(ViewBag.Search)"
                                   asp-route-posttype="@ViewBag.PostType"
                                          asp-route-slug="@ViewBag.Slug"  >
                               Nhỏ hơn 1 000 000₫ </a>
                            </li>
                            <li class="tags-item">
                                <a asp-route-page="@(ViewBag.CurrentPage)"
                                   asp-route-posttype="@ViewBag.PostType"
                                   asp-route-from="1000000"
                                   asp-route-to="2000000"
                                   asp-route-search="@(ViewBag.Search)"
                                   asp-route-slug="@ViewBag.Slug">1 000 000₫- 2 000 000₫</a>
                            </li>
                            <li class="tags-item">
                                <a asp-route-page="@(ViewBag.CurrentPage)"
                                   asp-route-from="2000000"
                                   asp-route-search="@(ViewBag.Search)"
                                   asp-route-to="3000000"
                                   asp-route-posttype="@ViewBag.PostType"
                                   asp-route-slug="@ViewBag.Slug">2 000 000₫- 3 000 000₫</a>
                            </li>
                            <li class="tags-item">
                                <a asp-route-page="@(ViewBag.CurrentPage )"
                                   asp-route-from="3000000"
                                   asp-route-to="4000000"
                                   asp-route-search="@(ViewBag.Search)"
                                   asp-route-posttype="@ViewBag.PostType"
                                   asp-route-slug="@ViewBag.Slug">3 000 000₫- 4 000 000₫</a>
                            </li>
                            <li class="tags-item">
                                <a asp-route-page="@(ViewBag.CurrentPage )"
                                   asp-route-from="4000000"
                                   asp-route-search="@(ViewBag.Search)"
                                   asp-route-posttype="@ViewBag.PostType"
                                   asp-route-slug="@ViewBag.Slug">Lớn hơn 4 000 000₫</a>
                            </li>
                        </ul>
                        </form>
                    </div>
                </div>
            </div>

    </div>
</div>

<hr>
<section id="latest-blog" class="padding-large">
    <div class="container">
        <div class="section-header d-flex flex-wrap align-items-center justify-content-between">
            <h2 class="section-title">Tin tức</h2>
            <div class="btn-wrap align-right">
                <a href="/tin-tuc" class="d-flex align-items-center">
                    Đọc tất cả tin tức <i class="icon icon icon-arrow-io"></i>
                </a>
            </div>
        </div>
        <div class="row d-flex flex-wrap">
            @foreach(var post in @ViewBag.Posts)
            {
                var images = post.Images as List<Project.ViewModels.Images.ImageViewModel>;
            <article class="col-md-4 post-item">
                <div class="image-holder zoom-effect">
                    <a href="/chi-tiet/@post.Url">
                            @if (images != null && images.Any())
                        {
                                @foreach (var image in post.Images)
                            {
                                string imageUrl = ViewBag.DomainApi + image.ImagePath;
                                    <img src="@imageUrl" alt="@post.Title" class="post-image">

                            }
                        }else
                        {
                                <img src="/images//default-thumbnail-400.jpg" alt="@post.Title" class="post-image">
                        }
                    </a>
                </div>
                <div class="post-content d-flex">
                    <div class="meta-date">
                            <div class="meta-day text-primary">@post.CreateTime.ToString("dd")</div>
                            <div class="meta-month">@post.CreateTime.ToString("MM-yyyy")</div>
                    </div>
                    <div class="post-header">
                        <h3 class="post-title">
                                <a href="/chi-tiet/@post.Url">@post.Title</a>
                        </h3>
                            <a href="blog.html" class="blog-categories">@post.PostType.Name</a>
                    </div>
                </div>
            </article>
            }

        </div>
    </div>
</section>

@* <section id="brand-collection" class="padding-medium bg-light-grey">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-between">
            <img src="/images/brand1.png" alt="phone" class="brand-image">
            <img src="/images/brand2.png" alt="phone" class="brand-image">
            <img src="/images/brand3.png" alt="phone" class="brand-image">
            <img src="/images/brand4.png" alt="phone" class="brand-image">
            <img src="/images/brand5.png" alt="phone" class="brand-image">
        </div>
    </div>
</section> *@


@* 
<section id="shipping-information">
    <hr>
    <div class="container">
        <div class="row d-flex flex-wrap align-items-center justify-content-between">
            <div class="col-md-3 col-sm-6">
                <div class="icon-box">
                    <i class="icon icon-truck"></i>
                    <h4 class="block-title">
                        <strong>Free shipping</strong> Over $200
                    </h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="icon-box">
                    <i class="icon icon-return"></i>
                    <h4 class="block-title">
                        <strong>Money back</strong> Return within 7 days
                    </h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="icon-box">
                    <i class="icon icon-tags1"></i>
                    <h4 class="block-title">
                        <strong>Buy 4 get 5th</strong> 50% off
                    </h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="icon-box">
                    <i class="icon icon-help_outline"></i>
                    <h4 class="block-title">
                        <strong>Any questions?</strong> experts are ready
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <hr>
</section>
 *@