@using Project.ViewModels.Menus
@model List<MenuViewModel>
<ul>

  
    @foreach(var level1 in Model)
    {
          <li>    @if(level1.ParentId==0){
            bool check = false;
            @foreach(var level2 in Model)
            {
                @if(level1.Id == level2.ParentId)
                {

                    check = true;
                }
            }
            @if(check == false)
            {

                    <a href="@level1.Url">@level1.Name</a>
               
            }
            if(check== true)
            {
                    <a href="@level1.Url">@level1.Name</a>
                    <ul class="dropdown">
                        @foreach(var level2 in Model)
                        {
                            @if(level1.Id == level2.ParentId)
                            {
                                <li><a href="@level2.Url" class="item-anchor">@level2.Name</a></li>
                            }
                        }

                    </ul>
            }
            }
        </li>
      

    }
   

</ul>
