@{
    ViewData["Title"] = "Tin tức - Chuyên Gia Về Ngọc";
    ViewData["Image"] = ViewBag.Image;
    ViewData["Description"] = "Ngọc Quách Gia - Chuyên Gia Về Ngọc";
}
@using Project.ViewModels.Posts
@model Project.ViewModels.PagedResult<PostViewModel>
@section Scripts {
    <script src="/js/active.js"></script>


}
<div class="breadcumb_area bg-img mt-[120px]" style="background-image: url(/img/bg-img/breadcumb.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>Tin tức</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blog-wrapper section-padding-80">
    <div class="container">
        <div class="row">
            @foreach (var post in Model.Items)
            {
                <!-- Single Blog Area -->
                <div class="col-12 col-lg-3">
                    <div class="single-blog-area mb-50">
                         @if (post.Images.Count() > 0)
                            {
                                @foreach (var image in post.Images)
                                {
                                string imageUrl = ViewBag.DomainApi + image.ImagePath;
                                <img src="@imageUrl" alt="@post.Title" class="post-image">


                            }
                        }
                        @if (post.Images.Count() == 0)
                        {
                            <img src="/images//default-thumbnail-400.jpg" alt="@post.Title" class="post-image">
                        }
                        <!-- Post Title -->
                        <div class="post-title">
                            <a href="/chi-tiet/@post.Url">@post.Title</a>
                        </div>
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <!-- Post Title -->
                            <div class="hover-post-title">
                                <a href="/chi-tiet/@post.Url">@post.Title</a>
                            </div>
                            <p> @post.Content</p>
                            <a href="/chi-tiet/@post.Url">Đọc tiếp <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>

            }
        </div>
        <nav class="navigation paging-navigation text-center padding-medium" role="navigation">
            <div class="pagination loop-pagination d-flex justify-content-center">
                @{


                    int startPage = Math.Max(1, (int)ViewBag.CurrentPage - 1);
                    int endPage = Math.Min((int)ViewBag.TotalPages, startPage + 2);

                    // Nếu endPage gần cuối thì lùi startPage lại để luôn hiển thị 3 trang (nếu có)
                    if (endPage - startPage < 2 && startPage > 1)
                    {
                        startPage = Math.Max(1, endPage - 2);
                    }
                }

                @if ((int)ViewBag.CurrentPage > 1)
                {
                    <a asp-route-page="@(ViewBag.CurrentPage - 1)"
                       asp-route-size="@ViewBag.PageSize"
                       asp-route-posttype="@ViewBag.PostType"
                       asp-route-from="@ViewBag.PrinceFrom"
                       asp-route-to="@ViewBag.PrinceTo"
                       asp-route-search="@(ViewBag.Search)"
                       asp-route-slug="@ViewBag.Slug" class="pagination-arrow d-flex align-items-center">
                        <i class="icon icon-arrow-left"></i>
                    </a>
                }
                @for (int i = startPage; i <= endPage; i++)
                {
                    if (i == (int)ViewBag.CurrentPage)
                    {
                        <strong class="page-numbers current">@i</strong>
                    }
                    else
                    {
                        <a asp-route-page="@i" class="page-numbers"
                           asp-route-size="@ViewBag.PageSize"
                           asp-route-from="@ViewBag.PrinceFrom"
                           asp-route-to="@ViewBag.PrinceTo"
                           asp-route-search="@(ViewBag.Search)"
                           asp-route-posttype="@ViewBag.PostType"
                           asp-route-slug="@ViewBag.Slug">@i</a>
                    }
                }
                @if ((int)ViewBag.CurrentPage < (int)ViewBag.TotalPages)
                {
                    <a asp-route-page="@(ViewBag.CurrentPage + 1)"
                       asp-route-size="@ViewBag.PageSize"
                       asp-route-search="@(ViewBag.Search)"
                       asp-route-from="@ViewBag.PrinceFrom"
                       asp-route-to="@ViewBag.PrinceTo"
                       asp-route-posttype="@ViewBag.PostType"
                       asp-route-slug="@ViewBag.Slug" class="pagination-arrow d-flex align-items-center">
                        <i class="icon icon-arrow-right"></i>
                    </a>
                }
            </div>
        </nav>

    </div>
</div>



